[Unit]
Description=AutoRecord

[Service]
Restart=always
RestartSec=30
User=pranjal
WorkingDirectory=/home/pranjal/auto-record
ExecStart=/usr/bin/python3 record.py --device-id 1
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
